@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Complementar color */

    --darkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --grayishBlueT: hsla(229, 6%, 66%, 0.445);
    --lightGray: hsl(0, 0%, 98%);
}

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: 100vh;
    background-color: var(--lightGray);
    /* position: relative; */
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;

    width: 1100px;
    padding: 0;
}

/* Section with title and description */

.section {
    padding: 30px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 34px;
    font-weight: 200;
    color: var(--darkBlue);
}

h2 {
    font-size: 34px;
    color: var(--darkBlue);
}

p {
    color: var(--grayishBlue);
    font-size: 14px;
}

.description {
    font-size: inherit;
    padding: 10px 250px;
}

.one {
    text-align: center;
}

/* Section with cards */

.two {
    display: flex;
    flex-direction: row;
}

.card {
    border-radius: 10px;
    padding: 20px 30px 25px;
    margin: 25px 15px;
    background-color: white;
    box-shadow: 1px 1px 20px 1px var(--grayishBlueT);

    width: 350px;
    display: grid;
}

h3,
.row p {
    margin: 10px 0;
}

/* The cards could be flexbox, but I prefered to test like this: */
.card img {
    margin-right: 0;
}

.red {
    border-top: 4px solid var(--red);   
}

.orange {
    border-top: 4px solid var(--orange);   
}

.cyan {
    border-top: 4px solid var(--cyan);   
}

.blue {
    border-top: 4px solid var(--blue);   
}

@media (max-width: 1100px) {
    h1, h2 {font-size: 22px;}
  
    .content {
        position: default;
        top: 580px;
        width: 300px;
    }
    
    .card {
        margin: 0 0 20px;
        padding: 20px;
        width: 300px;
    }

    .two {
        flex-direction: column;
        margin: 30px;
    }
    
    .description {
        padding: 10px 0px;
    }

    .card img {
        right: -190px;
        width: 55px;
    }
    
}